# Laravel
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock  # Should consider removing this one, however
.env.php
.env.local.php
.DS_Store
Thumbs.db
app/storage
logs

# App
*/.sass-cache
public/node_modules
public/bower_components
public/styles/scss/bourbon/
.idea
