.summary {
  .-negative {
    .summary__deviation {
      color: #D87575;
    }
  }
  .-positive {
    .summary__deviation {
      color: #65af58;
    }
  }

  .summary__user {
    background-color: #FFFFFF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.summary__title {
  text-align: center;
}

.summary__title + .col-xs-12 {

}

.top-types {
  list-style: none;
  padding: 0 10px;

  li {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }

  li:nth-child(1) {
    font-size: 2em;
  }
  li:nth-child(2) {
    font-size: 1.5em;
  }
  li:nth-child(3) {
    font-size: 1.2em;
  }
  li:nth-child(4) {
    font-size: 1.1em;
  }
  li:nth-child(5) {
    font-size: 1em;
  }
  li:nth-child(6) {
    font-size: .9em;
  }

  .sum {
    float: right;
    width: 70px;
  }
}

.summary__stat {
  @extend %border-radius;
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  margin-bottom: 1.5em;
  margin-top: 8px;
  padding: 1em;
}

.summary__user {
  overflow: hidden;
  margin: 1em -1em -1em;
  padding: .5em 1em;
}

.summary__name {
  float: left;
  text-transform: uppercase;
}

.summary__amount {
  float: right;
}

.summary__deviation {
  display: block;
  font-size: 2em;
  text-align: center;
  width: 100%;
}

.summary__mean {
  margin: 0 auto;
  text-align: center;

  .summary__amount,
  .summary__name {
//    display: block;
    float: none;
  }
}

