<div class="modal-header">
    <h2 class="modal-title">Lägg till</h2>
</div>
<div class="modal-body">
    <form>
        <form-userfield></form-userfield>

        <div class="form-group mandatory autocomplete">
            <label for="title">Title</label>
            <input id="title" class="form-control" ng-model="item.title" typeahead="title for title in config.titles | filter:$viewValue | limitTo:8" placeholder="Title" type="text" autocomplete="off" value=""/>
        </div>

        <form-typefield></form-typefield>

        <div class="form-group input-group mandatory">
            <span class="input-group-addon">$</span>
            <input class="form-control" name="expense" type="number" ng-model="item.expense" />
            <span class="input-group-addon">hkd</span>
        </div>

        <div class="form-group">
            <label for="date">Datum</label>
            <input class="form-control" ng-model="item.displayDate" name="date" type="date" id="date">
        </div>

        <div class="form-group">
            <label>
                <input ng-model="item.include" ng-checked="item.include" type="checkbox"/>
                Delad utgift
            </label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-click="save()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
